body {
  margin: 0;
  padding: 0;
  background-color: #EACEB4;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #BB5A5A;
  width: 100%;
  align-items: center;
}

h1 {
  text-align: center;
  color: #F2E9D0;
  padding-left: 40px;
}

.trees {
  display: flex;
  margin: 0px;
  padding: 0%;
  height: 750px;
  width: 100%;
  background-image: url(../images/tree-background.jpeg);
  background-size: cover;
  background-position: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.selfie {
  height: 400px;
  width: 400px;
  min-width: 350px;
  min-height: 350px;
  border: solid 2px lightslategray;
  box-shadow: black 20px 20px 20px;
}

.about {
  color: azure;
  padding: 20px 0px 0px 20px;
  margin: 0;
}

.story {
  width: 500px;
  height: 300px;
  color: azure;
  background-color: #EACEB4;
  color: #BB5A5A;
  position: relative;
  border-radius: 15px;
  border: 3px solid #BB5A5A;
  box-shadow: azure 20px 20px 20px;
}

.story p {
padding: 10px;
font-size: 20px;
}

#my-work {
  background-color: #BB5A5A;
  color: #E79E85;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}